---
import dayjs from "dayjs";
import Icon from "svelte-fa";
import "$lib/stylesheets/prismTheme.css";
import "balloon-css/balloon.css";
import EmailPrompt from "$lib/components/emailPrompt.svelte";
import { faLink, faRssSquare } from "@fortawesome/free-solid-svg-icons";
import BaseLayout from "$layouts/BaseLayout.astro";
import {
	faTwitterSquare,
	faFacebookSquare,
	faLinkedin,
} from "@fortawesome/free-brands-svg-icons";
const { title, description, publishedRAW, updatedRAW, image, author, tags } =
	Astro.props.content;
const published = dayjs(publishedRAW).toISOString();
const updated = dayjs(updatedRAW).toISOString();
const canonicalURL = Astro.request.canonicalURL;
---

<BaseLayout
	SEO={{
		title,
		description,
		updated,
		published,
		author,
		image,
		type: "article",
	}}
>
	<div class="mt-1/2 lg:w-1/4 p-6 top-1/3 sticky float-left hidden lg:block">
		<h2
			class="font-bold border-b-gray-400  border-b-2 border-opacity-25 text-lg mb-2"
		>
			{title}
		</h2>
		<div class="grid grid-cols-5">
			<a
				class="btn-ghost btn btn-square hover:bg-base-content hover:bg-opacity-20 hover:border-opacity-0"
				href={`https://twitter.com/intent/tweet?text=${encodeURIComponent(
					title
				)}&url=${encodeURIComponent(canonicalURL.toString())}`}
				target="_blank"
				aria-label="Share to Twitter"
				rel="noopener"
				data-balloon-pos="down"><Icon icon={faTwitterSquare} size="2x" /></a
			>
			<a
				class="btn-ghost btn btn-square hover:bg-base-content hover:bg-opacity-20 hover:border-opacity-0"
				href={`https://www.facebook.com/sharer/sharer.php?quote=${encodeURIComponent(
					title
				)}&u=${encodeURIComponent(canonicalURL.toString())}`}
				target="_blank"
				rel="noopener"
				aria-label="Share to Facebook"
				data-balloon-pos="down"><Icon icon={faFacebookSquare} size="2x" /></a
			>
			<a
				class="btn-ghost btn btn-square hover:bg-base-content hover:bg-opacity-20 hover:border-opacity-0"
				href={`https://www.linkedin.com/sharing/share-offsite?url=${encodeURIComponent(
					canonicalURL.toString()
				)}`}
				target="_blank"
				rel="noopener"
				aria-label="Share to LinkedIn"
				data-balloon-pos="down"><Icon icon={faLinkedin} size="2x" /></a
			>
			<a
				class="btn-ghost btn btn-square hover:bg-base-content hover:bg-opacity-20 hover:border-opacity-0"
				href={`/rss.xml`}
				target="_blank"
				aria-label="Subscribe to RSS"
				data-balloon-pos="down"><Icon icon={faRssSquare} size="2x" /></a
			>
			<button
				class="btn-ghost btn btn-square hover:bg-base-content hover:bg-opacity-20 hover:border-opacity-0"
				aria-label="Copy Link"
				data-balloon-pos="down"
				><Icon
					icon={faLink}
					size="2x"
					on:click={() => {
						navigator.clipboard.writeText(canonicalURL.toString());
					}}
				/></button
			>
		</div>
		<EmailPrompt primary={false} client:load />
	</div>
	<article class="m-auto p-4 md:w-3/4 lg:w-1/2">
		<img
			src={image.url}
			alt="Story heading"
			class="rounded m-auto w-full max-h-70vh aspect-video bg-base-300"
		/>
		<div class="flex flex-wrap">
			{tags.map((tag) => (
				<a
					style="color: hsla(var(--p))"
					class="font-sans font-bold mr-3 text-xl uppercase hover:underline no-underline decoration-purple-500"
					href={`/tagged/${tag.replaceAll(" ", "-")}/`.toLowerCase()}
				>
					{tag}
				</a>
			))}
		</div>
		<h1
			class="font-bold text-shadow-md shadow-warm-gray-600 text-4xl md:text-6xl"
		>
			{title}
		</h1>
		<h2 class="font-normal text-xl">
			&emsp;By <a href={"/author/" + author.replace(" ", "-")} rel="author"
				>{author}</a
			> on {dayjs(publishedRAW).format("MMMM D, YYYY")}
		</h2>
		<br />

		<span class="m-auto leading-relaxed"><slot /></span>
	</article>
	<div class="m-auto md:w-3/4 lg:w-1/2">
		<h2
			class="font-bold border-b-gray-400  border-b-2 border-opacity-25 mb-2 text-2xl"
		>
			Share
		</h2>
		<div class="grid grid-cols-5 grid-flow-col md:w-1/4">
			<a
				class="btn-ghost btn btn-square hover:bg-base-content hover:bg-opacity-20 hover:border-opacity-0"
				href={`https://twitter.com/intent/tweet?text=${encodeURIComponent(
					title
				)}&url=${encodeURIComponent(canonicalURL.toString())}`}
				target="_blank"
				aria-label="Share to Twitter"
				rel="noopener"
				data-balloon-pos="down"><Icon icon={faTwitterSquare} size="2x" /></a
			>
			<a
				class="btn-ghost btn btn-square hover:bg-base-content hover:bg-opacity-20 hover:border-opacity-0"
				href={`https://www.facebook.com/sharer/sharer.php?quote=${encodeURIComponent(
					title
				)}&u=${encodeURIComponent(canonicalURL.toString())}`}
				target="_blank"
				rel="noopener"
				aria-label="Share to Facebook"
				data-balloon-pos="down"><Icon icon={faFacebookSquare} size="2x" /></a
			>
			<a
				class="btn-ghost btn btn-square hover:bg-base-content hover:bg-opacity-20 hover:border-opacity-0"
				href={`https://www.linkedin.com/sharing/share-offsite?url=${encodeURIComponent(
					canonicalURL.toString()
				)}`}
				target="_blank"
				rel="noopener"
				aria-label="Share to LinkedIn"
				data-balloon-pos="down"><Icon icon={faLinkedin} size="2x" /></a
			>
			<a
				class="btn-ghost btn btn-square hover:bg-base-content hover:bg-opacity-20 hover:border-opacity-0"
				href={`/rss.xml`}
				target="_blank"
				aria-label="Subscribe to RSS"
				data-balloon-pos="down"><Icon icon={faRssSquare} size="2x" /></a
			>
			<button
				class="btn-ghost btn btn-square hover:bg-base-content hover:bg-opacity-20 hover:border-opacity-0"
				aria-label="Copy Link"
				data-balloon-pos="down"
				><Icon
					icon={faLink}
					size="2x"
					on:click={() => {
						navigator.clipboard.writeText(canonicalURL.toString());
					}}
				/></button
			>
		</div>
		<EmailPrompt client:visible />
	</div>
	<style global>
		@import "../lib/stylesheets/postTheme.css";
	</style>
</BaseLayout>
