---
import dayjs from "dayjs";
import Icon from "svelte-fa";
import "$lib/stylesheets/prismTheme.css";
import "balloon-css/balloon.css";
import EmailPrompt from "$lib/components/emailPrompt.svelte";
import { faRssSquare } from "@fortawesome/free-solid-svg-icons";
import BaseLayout from "$layouts/BaseLayout.astro";
import Popup from "$lib/components/popup.svelte";
import mdxComponents from "$lib/modules/mdxComponents";
import {
	faTwitterSquare,
	faFacebookSquare,
	faLinkedin,
} from "@fortawesome/free-brands-svg-icons";
import CopyLink from "$lib/components/copyLink.svelte";
import { getEntry } from "astro:content";
const {
	title,
	description,
	published: publishedRAW,
	updated: updatedRAW,
	image,
	tags,
} = Astro.props.content.data;
const { Content } = await Astro.props.content.render();
const published = dayjs(publishedRAW).toISOString();
const updated = dayjs(updatedRAW).toISOString();
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const author = await getEntry("author", Astro.props.content.data.author.slug);
---

<BaseLayout
	SEO={{
		title,
		description,
		updated,
		published,
		author,
		image,
		type: "article",
	}}
>
	<div
		class="mt-1/2 p-6 top-1/3 sticky float-left hidden lg:w-1/4 xl:w-1/5 lg:!block"
	>
		<h2
			class="font-bold border-b-gray-400 border-b-2 border-opacity-25 text-lg mb-2"
		>
			{title}
		</h2>
		<div class="grid grid-cols-5">
			<a
				class="btn-ghost btn btn-square hover:bg-base-content hover:bg-opacity-20 hover:border-opacity-0"
				href={`https://twitter.com/intent/tweet?text=${encodeURIComponent(
					title
				)}&url=${encodeURIComponent(canonicalURL.toString())}`}
				target="_blank"
				aria-label="Share to Twitter"
				rel="noopener"
				data-balloon-pos="down"
			>
				<Icon icon={faTwitterSquare} size="2x" />
			</a>
			<a
				class="btn-ghost btn btn-square hover:bg-base-content hover:bg-opacity-20 hover:border-opacity-0"
				href={`https://www.facebook.com/sharer/sharer.php?quote=${encodeURIComponent(
					title
				)}&u=${encodeURIComponent(canonicalURL.toString())}`}
				target="_blank"
				rel="noopener"
				aria-label="Share to Facebook"
				data-balloon-pos="down"
			>
				<Icon icon={faFacebookSquare} size="2x" />
			</a>
			<a
				class="btn-ghost btn btn-square hover:bg-base-content hover:bg-opacity-20 hover:border-opacity-0"
				href={`https://www.linkedin.com/sharing/share-offsite?url=${encodeURIComponent(
					canonicalURL.toString()
				)}`}
				target="_blank"
				rel="noopener"
				aria-label="Share to LinkedIn"
				data-balloon-pos="down"
			>
				<Icon icon={faLinkedin} size="2x" />
			</a>
			<a
				class="btn-ghost btn btn-square hover:bg-base-content hover:bg-opacity-20 hover:border-opacity-0"
				href={`/rss.xml`}
				target="_blank"
				aria-label="Subscribe to RSS"
				data-balloon-pos="down"
			>
				<Icon icon={faRssSquare} size="2x" />
			</a>
			<CopyLink url={canonicalURL.toString()} client:visible />
		</div>
		<EmailPrompt primary={false} method="Article Sidebar" client:idle />
	</div>
	<article class="m-auto p-4 md:w-3/4 lg:w-1/2 xl:w-1/3">
		<img
			src={image.url}
			alt="Story heading"
			class="rounded m-auto bg-base-200 w-full max-h-70vh aspect-video"
		/>
		<div class="flex flex-wrap">
			{
				tags.map((tag: string) => (
					<a
						class="font-sans font-bold mx-3 my-1 text-2xl uppercase no-underline decoration-purple-500 hover:underline text-purple-600"
						href={`/tagged/${tag.replaceAll(
							" ",
							"-"
						)}/`.toLowerCase()}
					>
						{tag}
					</a>
				))
			}
		</div>
		<h1
			class="font-bold text-shadow-md shadow-warm-gray-600 text-4xl md:text-6xl"
		>
			{title}
		</h1>
		<div class="font-normal text-lg">
			By <a href={`/author/${author?.slug}`} rel="author"
				>{author?.data.name}</a
			>

		</div>
		<div class="font-normal text-lg border-b-gray-400 border-b-2 border-opacity-25 opacity-90">
			{
				dayjs(updatedRAW).format("MMMM D, YYYY")
			}
		</div>
		<span class="m-auto leading-relaxed" id="article-content">
			<Content components={mdxComponents} />
		</span>
	</article>
	<div class="m-auto px-4 md:w-3/4 lg:w-1/2 xl:w-1/3">
		<h2
			class="font-bold border-b-gray-400 border-b-2 border-opacity-25 mb-2 ml-2 text-2xl"
		>
			Share
		</h2>
		<div class="flex">
			<a
				class="btn-ghost btn btn-square hover:bg-base-content hover:bg-opacity-20 hover:border-opacity-0"
				href={`https://twitter.com/intent/tweet?text=${encodeURIComponent(
					title
				)}&url=${encodeURIComponent(canonicalURL.toString())}`}
				target="_blank"
				aria-label="Share to Twitter"
				rel="noopener"
				data-balloon-pos="down"
			>
				<Icon icon={faTwitterSquare} size="2x" />
			</a>
			<a
				class="btn-ghost btn btn-square hover:bg-base-content hover:bg-opacity-20 hover:border-opacity-0"
				href={`https://www.facebook.com/sharer/sharer.php?quote=${encodeURIComponent(
					title
				)}&u=${encodeURIComponent(canonicalURL.toString())}`}
				target="_blank"
				rel="noopener"
				aria-label="Share to Facebook"
				data-balloon-pos="down"
			>
				<Icon icon={faFacebookSquare} size="2x" />
			</a>
			<a
				class="btn-ghost btn btn-square hover:bg-base-content hover:bg-opacity-20 hover:border-opacity-0"
				href={`https://www.linkedin.com/sharing/share-offsite?url=${encodeURIComponent(
					canonicalURL.toString()
				)}`}
				target="_blank"
				rel="noopener"
				aria-label="Share to LinkedIn"
				data-balloon-pos="down"
			>
				<Icon icon={faLinkedin} size="2x" />
			</a>
			<a
				class="btn-ghost btn btn-square hover:bg-base-content hover:bg-opacity-20 hover:border-opacity-0"
				href={`/rss.xml`}
				target="_blank"
				aria-label="Subscribe to RSS"
				data-balloon-pos="down"
			>
				<Icon icon={faRssSquare} size="2x" />
			</a>
			<CopyLink client:visible url={canonicalURL.toString()} />
		</div>
		<EmailPrompt method="Article Bottom" client:visible />
	</div>
	<style is:global>
		@import "../lib/stylesheets/postTheme.css";
	</style>
	<Popup client:idle />
</BaseLayout>
